.nav-link {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(48, 45, 45);
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

.nav-link:hover {
  color: #1d72b8;
  transform: scale(1.1);
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #1d72b8;
  left: 50%;
  bottom: -4px;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}
